@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #faeee7;
}

.container {
    padding: 0 100px;
}

/* .text-profesi {
    color: #9381ff;
} */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.hero-left h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #33272a;
    margin-bottom: 1rem;
}

.hero-left p {
    font-size: 1.2rem;
    font-weight: 400;
    color: #594a4e;
    margin-bottom: 1.5rem;
    margin-right: 2rem;
    text-align: justify;
}

.hero-right .hero-img {
    width: 400px;
    border-radius: 20%;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.btn-primary {
    text-decoration: none;
    background-color: #ffc6c7;
    color: #33272a;
    padding: 0.8rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    cursor: pointer;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin-bottom: 1rem;
}

.btn-primary >a {
    text-decoration: none;
    color: #33272a;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: #f1d7d7;
}

header {
    /* background-color: #faeee7; */
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 100px;
    /* background: #faeee7; */
    background: #f6efef;
    top: 0;
    border-bottom: 4px solid #5d2800;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

header .logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: #33272a;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.logo {
    display: flex;         /* <-- Kuncinya di sini: buat item jadi berdampingan */
    align-items: center;   /* Ini membuat gambar dan tulisan sejajar di tengah (vertikal) */
    gap: 1rem;             /* (Opsional) Memberi jarak 1rem antara gambar dan tulisan */
}

/* (Opsional) Atur ukuran gambar Anda */
.logo-img {
    width: 70px; /* Ganti ukuran ini sesuai kebutuhan Anda */
    height: auto;
}

/* (Opsional) Atur font dan hapus margin default dari H1 */
.logo h1 {
    font-size: 1.9rem; /* Ganti ukuran font sesuai kebutuhan */
    color: #33272a;      /* Ganti warna font */
    margin: 0;         /* Menghilangkan spasi/margin bawaan h1 */
}

header .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0rem;
    list-style: none;
}

header .nav-links li {
    list-style: none;
    margin-left: 2rem;
}

header .nav-links li a {
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    color: #33272a;
    text-decoration: none;
    background-color: #ff8ba7;
    padding: 0.5rem 1rem;
    border-radius: 7px;
}

header .nav-links li a:hover {
    color: #33272a;
    background-color: #f7b8c6;
}

header .nav-links li:last-child {
    margin-right: 0;
}

/* hamburger menu */
header .hamburger-menu {
    display: none;
    font-size: 1.5rem;
    color: #13111A;
    cursor: pointer;
}

/* line */
header .hamburger-menu .line1,
header .hamburger-menu .line2,
header .hamburger-menu .line3 {
    width: 25px;
    height: 3px;
    margin: 5px 0;
    border-radius: 5px;
    background-color: black;
}

header .hamburger-menu.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

header .hamburger-menu.active .line2 {
    opacity: 0;
}

header .hamburger-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* mobile menu */
#mobileMenu {
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%;
    background-color:#ff8ba7;
    padding: 2rem 4rem; 
    padding-bottom: 0rem;
    padding-top: 2.5rem;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(73, 71, 71, 0.475);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;  
} 

#mobileMenu.active {
    display: flex;
    transform: translateX(0);
}

#mobileMenu .nav-links-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

#mobileMenu .nav-links-mobile li {
    list-style: none;
    margin-bottom: 1rem;
}

#mobileMenu .nav-links-mobile li a {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #342f35;
    text-decoration: none;
    background-color: #ff8ba7;
    border-radius: 50px;
    padding: 0.05rem 1.5rem ;
    /* border: 5px solid rgb(14, 13, 13); */
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal
}

#mobileMenu .nav-links-mobile li a:hover {
    color: #342f35;
    background-color: #f3beca;
}

.client {
    background-color: #f6e3d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem;
}

.client-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.client-wrapper .client-items-2 {
    padding-top: 5rem;
}

.client-wrapper .client-items-1,
.client-wrapper .client-items-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.client-wrapper .client-items-1 img,
.client-wrapper .client-items-2 img {
    width: 200px;
}

.client-wrapper .client-items-1 .client-item,
.client-wrapper .client-items-2 .client-item {
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    /* smooth shadow */
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}

.client-wrapper .client-items-1 .client-item:hover,
.client-wrapper .client-items-2 .client-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.client .client-left h1 {
    font-size: 2rem;
    font-weight: 800;
    color: #001858;
    margin-bottom: 1rem;
}

.client .client-left p {
    font-size: 1rem;
    font-weight: 500;
    color: #172c66;
    text-align: justify;
    padding-right: 2.5rem;
}


.contact {
    background-color: #f6e3d4;
    padding: 5rem;
}

.contact h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #13111A;
    margin-bottom: 2rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form input {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    color: #13111A;
    transition: all 0.3s ease-in-out;
}

form input:focus {
    border: 1px solid #6C62D5;
}

form textarea {
    padding: 1rem;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    color: #13111A;
    transition: all 0.3s ease-in-out;
}

form textarea:focus {
    border: 1px solid #6C62D5;
}


footer {
    background-color: #ffffff;
    text-align: center;
    padding: 2rem;
}

footer p {
    color: #6C62D5;
}

footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 12px;
}

footer .social-media a {
    color: #6C62D5;
    text-decoration: none;
}

footer .social-media a:hover {
    color: #5A4DBF;
}

/* responsive */
@media (max-width: 1200px) {
    .container {
        padding: 0 50px;
    }

    header {
        padding: 1rem 50px;
    }

    .recent-work .heading .heading-text h1 {
        font-size: 1.5rem;
    }

    .recent-work .heading .information p {
        font-size: 0.8rem;
    }

    .work .work-item .work-item-body .work-item-info h2 {
        font-size: 1.2rem;
    }

    .work .work-item .work-item-body .work-item-info p {
        font-size: 0.8rem;
    }

    .client {
        padding: 2rem;
    }

}

@media (max-width: 992px) {
    .container {
        padding: 0 30px;

    }

    .hero-left h1 {
        font-size: 2.5rem;
    }

    .hero-right .hero-img {
        width: 400px;
    }

    header {
        padding: 1rem 30px;
    }


    .recent-work .heading .heading-text h1 {
        font-size: 1.5rem;
    }

    .recent-work .heading .information p {
        font-size: 0.8rem;
    }

    .client {
        padding: 2rem;
    }



}

@media (max-width: 768px) {
    .container {
        padding: 0 30px;
    }

    .hero {
        flex-direction: column-reverse;
        align-items: unset;
        text-align: center;
    }

    .hero-left h1 {
        font-size: 2rem;
    }

    .hero-right .hero-img {
        width: 300px;
        margin-bottom: 1rem;
    }

    header {
        padding: 1rem 30px;
    }

    header .nav-links {
        /* display: none; */
        display: none !important;
    }

    header .logo {
        margin-right: auto;
    }

    header .hamburger-menu {
        /* display: block; */
        display: block !important;
    }

    .nav-links {
        display: none !important; /* hide desktop menu */
    }

    .hamburger-menu {
        display: block !important;
        cursor: pointer;
    }

    #mobileMenu {
        display: none;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #faeee7;
        padding: 20px 0;
        z-index: 999;
        text-align: center;
    }

    #mobileMenu.active {
        display: block;
    }

    .nav-links-mobile li {
        margin: 15px 0;
    }

    .work {
        flex-direction: column;
    }

    .client {
        flex-direction: column;
        align-items: unset;
        padding-top: 3rem;
        padding-bottom: 3rem;
        gap: 0px;
        overflow: hidden;
        padding: 0;
    }


    .client-wrapper .client-items-2 {
        padding-top: 0px;
    }

    .client-wrapper .client-items-1 img,
    .client-wrapper .client-items-2 img {
        width: 110px;
    }

    .client-wrapper .client-items-1 .client-item,
    .client-wrapper .client-items-2 .client-item {
        padding: 1rem;
    }

    .client-wrapper .client-items-1,
    .client-wrapper .client-items-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .client .client-left h1 {
        font-size: 2rem;
    }

    .client .client-left p {
        font-size: 0.9rem;
    }

    .client .client-left {
        padding: 30px;
    }

    .client .client-right {
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        /* padding */
        padding: 30px;

    }

    .contact {
        padding: 2rem;
    }

}

